---
import { type CollectionEntry, getCollection, type RenderedContent } from 'astro:content'
import Base from '../../layouts/Base.astro'
import Content from '../../components/sections/Content.astro'
import Button from '../../components/Button.astro'

import readyImage from '../../assets/images/ready_to_apply.jpg'
import Socials from '../../content/socials.astro'
import Hero from '../../components/sections/Hero.astro'

export async function getStaticPaths() {
  const roles = await getCollection('staffRoles')
  return roles.map((e) => ({ params: { role: e.data.slug }, props: { roleEntry: e } }))
}

interface Props {
  roleEntry: CollectionEntry<'staffRoles'> & {
    data: {
      introduction_rendered: RenderedContent
      extra_description_rendered?: RenderedContent
      call_to_action_rendered?: RenderedContent
    }
  }
}

const role = Astro.props.roleEntry.data
---

<Base>
  <Hero id="staff_role_hero" headline={role.title + ' - ' + role.department_name + ' department'} alignContent="start">
    <span class="role_status" class:list={{ open: role.open_for_applications }}
      >{role.open_for_applications ? 'Open for applications' : 'Closed for applications'}</span
    >
    <Fragment set:html={role.introduction_rendered.html} />
    <Button label="Apply here" go slot="actions" to={role.apply_form_url} newTab />
  </Hero>
  {
    role.extra_description_rendered && (
      <Content bg="darker" alignContent="start" markdown>
        <Fragment set:html={role.extra_description_rendered.html} />
      </Content>
    )
  }
  <Content bg="primary-light" markdown={!!role.call_to_action_rendered} alignContent="start" sideImage={readyImage}>
    {
      role.call_to_action_rendered ? (
        <Fragment set:html={role.call_to_action_rendered.html} />
      ) : (
        <>
          <h2>Ready to apply?</h2>
          <p>Got a GitHub full of haunted projects or just excited to help out? We’d love to hear from you.</p>
          <p>Click the button, fill out the form, and tell us what makes you tick.</p>
        </>
      )
    }
    <Button label="Apply now" go slot="actions" to={role.apply_form_url} newTab />
  </Content>
  <Content headline="What happens after you apply">
    <p>
      We try to respond within a couple weeks — if we're slow, it's not you, it's us (we’re probably rebooting
      something).
    </p>
  </Content>
  <Content bg="primary-light" headline="Not quite what you're looking for?">
    <p>We have more openings across the convention departments.</p>
    <Button label="See all positions" go to="/staff-volunteering#open_roles" slot="actions" outline />
  </Content>
  <Socials />
</Base>

<style is:global lang="scss">
  @use '../../styles/charter';
  @use '../../styles/text-styles';

  #staff_role_hero {
    span.role_status {
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      padding: 5px;
      width: 182px;
      border-radius: 3px;
      margin-top: 8px;
      margin-bottom: 32px;

      background: charter.$secondary100;
      @include text-styles.display2SemiBold;

      &.open {
        background: charter.$primary100;
      }
    }
  }
</style>
